MSFT/outbox_pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "BinarySource",
            "formatSettings": {
              "type": "BinaryReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true
            },
            "datasetSettings": {
              "type": "Binary",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@pipeline().parameters.lakehouse_outbox_path",
                    "type": "Expression"
                  }
                }
              },
              "linkedService": {
                "name": "Files_Lakehouse",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "b835d776-8c0f-a90f-4af4-207b4c00abc9",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "BinarySink",
            "storeSettings": {
              "type": "FileServerWriteSettings"
            },
            "datasetSettings": {
              "type": "Binary",
              "typeProperties": {
                "location": {
                  "type": "FileServerLocation",
                  "folderPath": {
                    "value": "@pipeline().parameters.source_outbox_path",
                    "type": "Expression"
                  }
                }
              },
              "externalReferences": {
                "connection": "92282452-5bcd-46d4-9d2f-b8912edd6edb"
              },
              "annotations": []
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy files from lakehouse to the source",
        "dependsOn": []
      },
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "Binary",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": {
                  "value": "@pipeline().parameters.lakehouse_outbox_path",
                  "type": "Expression"
                }
              }
            },
            "linkedService": {
              "name": "Files_Lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "b835d776-8c0f-a90f-4af4-207b4c00abc9",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false
          },
          "formatSettings": {
            "type": "BinaryReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get outbox content",
        "dependsOn": [
          {
            "activity": "Copy files from lakehouse to the source",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[dbo].[writeLog]",
          "storedProcedureParameters": {
            "logData": {
              "value": {
                "value": "@concat(pipeline().parameters.lakehouse_outbox_path,' :',string(activity('Get outbox content').output.childItems))",
                "type": "Expression"
              },
              "type": "String"
            }
          }
        },
        "linkedService": {
          "name": "Logging_warehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "2707b7f4-4707-4697-b1a1-0d85d3eea937",
              "endpoint": "cwip2qsn3yrufi3ixlvmvneje4-4x5uqryytowevhlu66odt74b3m.datawarehouse.fabric.microsoft.com",
              "workspaceId": "4748fbe5-9b18-4aac-9d74-f79c39ff81db"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Logging",
        "dependsOn": [
          {
            "activity": "Get outbox content",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "16733425-00c1-89b4-4731-c0c1bd701751",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "provider": {
              "value": {
                "value": "@split(pipeline().parameters.lakehouse_outbox_path,'/')[1]",
                "type": "Expression"
              },
              "type": "string"
            },
            "parent_folder": {
              "value": "outbox_log",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 5,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "move from temp to final",
        "dependsOn": [
          {
            "activity": "Logging",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "source_outbox_path": {
        "type": "object"
      },
      "lakehouse_outbox_path": {
        "type": "string"
      },
      "lakehouse_log_path": {
        "type": "string"
      }
    }
  }
}